# Dependencies
node_modules

# Next.js build output
.next
out

# Environment files — jangan masuk ke image
.env*
!.env.example

# Git
.git
.gitignore

# Docker files sendiri
docker-compose*.yml
Dockerfile*
.dockerignore

# OS & editor
.DS_Store
*.log
.vscode
.idea

# Prisma generated (di-generate ulang saat container start)
src/generated