# Salin file ini jadi .env.development lalu isi nilainya

# Keterangan:
# Untuk menjalankan database di docker, setelah password diset, ganti dengan db
# Contohnya: DATABASE_URL=postgresql://postgres:password@db:5432/sistem_surat

#  Database 
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=sistem_surat
DB_HOST_PORT=5432

#  App
APP_PORT=3001
NODE_ENV=development
NEXT_TELEMETRY_DISABLED=1

#  Prisma 
DATABASE_URL=postgresql://postgres:password@db:5432/sistem_surat

#  Auth
BETTER_AUTH_SECRET=<masukkan_auth_secret_dari_better_auth>
BETTER_AUTH_URL=http://localhost:3001
# Tambahkan origin cloud jika berbeda dari BETTER_AUTH_URL, pisahkan dengan koma.
# Contoh: BETTER_AUTH_TRUSTED_ORIGINS=http://103.191.92.244,https://domain-anda.com
BETTER_AUTH_TRUSTED_ORIGINS=
