# Salin file ini jadi .env.development lalu isi nilainya
# cp .env.example .env.development

# ─── Database ────────────────────────────────────────────────
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=sistem_surat
DB_HOST_PORT=5432

# ─── App ─────────────────────────────────────────────────────
APP_PORT=3001
NODE_ENV=development
NEXT_TELEMETRY_DISABLED=1

# ─── Prisma ──────────────────────────────────────────────────
DATABASE_URL=postgresql://postgres:@db:5432/sistem_surat

# ─── Auth ────────────────────────────────────────────────────
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3001

# ─── Dev flags ───────────────────────────────────────────────
SEED_ON_START=false
WATCHPACK_POLLING=true
CHOKIDAR_USEPOLLING=true